<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect vetmed host to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^vetweb01\.vetmed\.fu-berlin\.de$" />
            <add input="{HTTPS}" pattern="off" />
            <add input="{URL}" pattern="^/\.well-known/acme-challenge/" negate="true" />
          </conditions>
          <action type="Redirect" url="https://vetweb01.vetmed.fu-berlin.de/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect site root to scoring app" stopProcessing="true">
          <match url="^$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^vetweb01\.vetmed\.fu-berlin\.de$" />
          </conditions>
          <action type="Redirect" url="__PUBLIC_URL__" redirectType="Found" />
        </rule>
        <rule name="ScoreCore API reverse proxy" stopProcessing="true">
          <match url="^(api|admin|ws)(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8181/{R:1}{R:2}" />
        </rule>
        <rule name="Scoring app assets" stopProcessing="true">
          <match url="^__PUBLIC_PATH_REGEX__/(assets|static)/(.*)" />
          <action type="Rewrite" url="/{R:1}/{R:2}" />
        </rule>
        <rule name="Scoring app service worker" stopProcessing="true">
          <match url="^__PUBLIC_PATH_REGEX__/service-worker\.js$" />
          <action type="Rewrite" url="/service-worker.js" />
        </rule>
        <rule name="Scoring app routes" stopProcessing="true">
          <match url="^__PUBLIC_PATH_REGEX__(/.*)?$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
        <rule name="React routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <remove fileExtension=".ico" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
  </system.webServer>
</configuration>
