SKIP_PREFLIGHT_CHECK=false

REACT_APP_FRONTEND_URL=https://scorecore.example.local
REACT_APP_BACKEND_URL=https://scorecore.example.local
REACT_APP_WS_URL=wss://scorecore.example.local
REACT_APP_BASE_WS=wss://scorecore.example.local
REACT_APP_DOCKER_ENABLED=0
