SECRET_KEY=change-me
SIGNING_KEY=change-me-too
DEBUG=1
PRODUCTION=0

DJANGO_ALLOWED_HOSTS=api.scoring.local,localhost,127.0.0.1
ALLOWED_ORIGINS=http://scoring.local:3000,http://localhost:3000
PROTOCOL=http

DB_ENGINE=postgresql
POSTGRES_HOST=scoring-database
POSTGRES_PORT=5432
POSTGRES_DB=scoring
POSTGRES_USER=scoring
POSTGRES_PASSWORD=change-me

REDIS_HOST=scoring-redis
REDIS_PORT=6379
USE_REDIS=1
DOCKER_FEATURE_ENABLED=1

DEFAULT_DIRS=projects,backup,evaluations,setup,logs,videos

SESSION_COOKIE_SECURE=0
SECURE_REFERRER_POLICY=same-origin
SECURE_HSTS_SECONDS=0
SECURE_HSTS_PRELOAD=0
SECURE_SSL_REDIRECT=0

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.local
DJANGO_SUPERUSER_PASSWORD=admin
